<MudNavMenu Class="d-flex flex-wrap flex-column " Style="min-width:4%; width:4%; background-color: rgba(50,41,63,255); ">
    <a class="nav-bar-item" href="/" style="width:80%; margin-bottom:10px;"><MudIcon Icon="@Icons.Material.Filled.Computer"></MudIcon></a>
    <a class="nav-bar-item" href="/userSelector" style="width:80%"> <MudIcon Icon="@Icons.Material.Filled.StarBorder"></MudIcon>Zakładka 1</a>
    <a class="nav-bar-item" style="width:80%; background-color:transparent; color:white"> <MudIcon Icon="@Icons.Material.Filled.StarBorder"></MudIcon> Zakładka 2</a>

</MudNavMenu>

